<body>
  <form>
    <div class="title">
      <h1>Cadastro</h1>
    </div>

    <div class="input-content">
      <ion-item>
        <ion-input label="Nome" class="input-form"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
    
      <ion-item>
        <ion-input label="Email"  class="input-form"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
    
      <ion-item>
        <ion-input label="Celular" class="input-form"></ion-input>
        <ion-icon name="call-outline"></ion-icon>
      </ion-item>
    
      <ion-item>
        <ion-input label="Senha" type="password" class="input-form"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    </div>

    <button id="present-alert" class="btn">Cadastrar</button>
    <ion-alert
      trigger="present-alert"
      header="Pets Mimados"
      message="Cadastro realizado com sucesso!"
      [buttons]="alertButtons"
      (didDismiss)="showLogin()"
  ></ion-alert>
  </form>
</body>

