body {
  background-color: #D9F2EB;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin-top: -5rem;
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card-scheduling {
  background-color: white;
  width: 21rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 14px 8px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid #2cbfa4;;
  color: #2cbfa4;;
  width: 100%;
  display: flex;
  justify-content: center;
  h2 {
    font-weight: bold;
  }
}

.table {
  display: flex;
  flex-direction: column;
}

.table-content {
  display: flex;
  gap: 2rem;

}
  