<body>
  <main>
    <h1>Consultar agendamentos</h1>
    <div class="card-scheduling">
      <header class="header">
        <h2>Serviço</h2>
        <h2>Data</h2>
        <h2>Horário</h2>
      </header>
      <div class="table">
        <div class="table-content">
          <p>Banho</p>
          <p>Sex 27/11</p>
          <p>10:30</p>
        </div>
        <div class="table-content">
          <p>Banho</p>
          <p>Sáb 18/11</p>
          <p>11:00</p>
        </div>
        <div class="table-content">
          <p>Banho</p>
          <p>Seg 20/11</p>
          <p>09:30</p>
        </div>
        <div class="table-content">
          <p>Banho</p>
          <p>Sex 24/11</p>
          <p>08:30</p>
        </div>
      </div>
    </div>
  </main>
</body>
