<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <body>  
    <form action="">
      <div class="title">
        <img src="assets/icon/logo14.png" width="100%">
        <p class="sub-title">Login</p>
      </div>

      <div class="input-content">
        <ion-item>
          <ion-input placeholder="Email" class="input-form"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-input 
            placeholder="Senha" 
            type="password"  
            class="input-form">
          </ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
      </div>

      <div class="login">
        <p class="register">
          Não possui conta?
          <a class="link" (click)="showCadastro()"><span>Cadastre-se</span></a>
          agora
        </p>
        <button class="btn" (click)="showMenu()">Entrar</button>
      </div>
    </form>

  </body>
</ion-content>