h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10rem;
}

.cards-column {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-top: 5rem;
}

.cards-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff;
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.botao{
  font-size: 0.9rem;
}