@font-face {
    src: url(../../Fontes/AustieBostKittenKlub.ttf);
    font-family: 'Fonte_PET';
}

/* Todos os elementos da página */
* {
    margin: 0;
    padding-top: 5px;
}

/* fieldset deixa uma bordinha, ai para tirar, definimos como 0*/
fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
}

/* Elemento de tag <body> */
body{
    background-color: #D9F2EB;
    font-family: sans-serif;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 2rem;
}

.input-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-form {
  width: 22rem;
  height: 2.5rem;
  border: none;
  outline-color: #2cbfa4;
  border-radius: 8px;
  padding-left: 1rem;
  box-shadow: 14px 8px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.input-form::placeholder {
  color: #cecece;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button>
textos dos campos selecionados
*/

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 2rem;
}
select{
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 8px;
    width: 22rem;
    height: 2.5rem;
    border: none;
    padding-left: 1rem;
    outline-color: #2cbfa4;
    box-shadow: 14px 8px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

option {
  border-radius: 8px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    margin-left: 25%;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo input[type="date"], .campo input[type="time"], .campo select, .campo textarea {
    padding: 0.2em;
    width: 200px;
    border: 1px solid #2cbfa4;
    box-shadow: 3px 3px 4px rgb(194, 192, 192);
    display: block;
}
.campo input[type="date"]{
    width: 125px;
}

/*Colocar o horario ao lado do calendário*/
.campo input[type="time"]{
    position: absolute;
    width: 82px;
    height: 28px;
    top: 415px;
    left: 240px;
}

/*cor de fundo de quando selecionamos um campo*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(248, 234, 225);
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #2cbfa4;
    color: black;
    padding: 0.4em 0.7em;
    box-shadow: 3px 3px 4px rgb(194, 192, 192);
    border-radius: 8px;
    position: absolute;
    top: 515px;
    left: 206px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: rgb(248, 234, 225);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}

/*Customização do botão*/

ion-button{
    font-size: 1.2em;
    background: rgb(114, 230, 114);
    color: black;
    /*padding: 0.4em 0.7em;*/
    box-shadow: 3px 3px 4px rgb(194, 192, 192);
    border-radius: 8px;
    position: absolute;
    top: 515px;
    left: 206px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.data-time {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.input-data {
  box-shadow: 14px 8px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  width: 10rem;
  border-radius: 8px;
  height: 2.5rem;
  border: none;
  outline-color: #2cbfa4;
  padding-left: 1rem;
}

.btn {
    font-weight: bold;
    margin-top: 2rem;
    background-color: #2cbfa4;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    padding: 1rem 2rem;
    box-shadow: 14px 8px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
  