h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
/* Ajustando todo o conteúdo*/
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 5rem;
}

/* Ajustando o conteudo de input na página*/
.input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
/*Configuração padrão dos campos*/
ion-item {
    width: 20rem;
    height: 3rem;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px #c4c4c4;
}
    
/*Deixar o horário ao lado da data*/
.data-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
/*Distanciar o nome do icone*/
.servico{
    color: #979797;
    margin-left: 0.5rem;
}

/*Para ajustar o tamanho apenas dos campos de data e horario*/
.input-select{
    width: 9.5rem;
}
.btn{
    padding: 0.8rem 2.2rem;
}