@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

main{
  margin-top: -10px;
  padding-top: 3px;
  padding-right: 3px;

  background-color: #D9F2EB;
  font-family: 'Montserrat', sans-serif;
}

.cards {

  display: flex;
  flex-direction: column;

  :nth-child(1) {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

  }

}

.cards-flex {
  justify-content: center;
  display: flex;
  align-items: center;

  h1 {
    font-size: 1rem;
    color: rgb(140, 79, 43);

  }

  svg {
    width: 2rem;

  }
}

.card {
  border-bottom: 1px solid rgb(44, 191, 164);
  display: flex;
  padding: 1rem;
  background-color:  #fff;
  flex-direction: column;


  color: #000;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(44, 191, 164);
}

.cards-map {

  h1 {
    font-size: 1.5rem;
    color: rgb(44, 191, 164);
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-column {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
    color: rgb(44, 191, 164);
    margin-bottom: 2rem;
  }

  .box-icon {
    margin-top: -2rem;
  }
}

.box-icon {
  color: #000;

  display: flex;
  align-items: center;
  gap: 0.8rem;
  svg {
    width: 2rem;
  }
}
