<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <main>

    <section id="sobre_empresa">
      <div id="sobre_nos">
        <h1>Sobre nós</h1>
        <p>Hoje totalmente dedicada à saúde e bem estar dos animais de estimação, é uma empresa familiar que tem sempre em mente a atualização e inovação em seus serviços.</p>
        <p>Conta com o mais moderno laboratório de exames clínicos e de imagem, além de profissionais capacitados e dedicados ao propósito da empresa.</p>
      </div>

      <div id="missao">
        <h1>Missão</h1>
        <p>Promover a saúde e bem-estar dos animais de estimação, tornando mais saudável e feliz a sua convivência com o homem.</p>
        <p>Atender as necessidades e desejos dos clientes, com respeito e amor aos pets, além da transparência nos serviços e atitudes.</p>
      </div>

      <div id="visao">
        <h1>Visão</h1>
        <p>Tornar todas as visitas inesquecíveis, mantendo sempre um ambiente agradável e acolhedor.</p>
        <p>Ser referência no atendimento ao cliente no setor de pet da cidade do Recife.</p>
      </div>
    </section>

    <section id="fale_conosco">
      <div id="localizacao">
        <h1>📌 Onde nos encontrar?</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.384148431238!2d-34.91921312420502!3d-8.062241180560306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab19255fa9d0a7%3A0xa2288886b2b8e241!2sCentro%20Universit%C3%A1rio%20Est%C3%A1cio%20do%20Recife!5e0!3m2!1spt-BR!2sbr!4v1696707467422!5m2!1spt-BR!2sbr" width="372" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
      <div id="contato">
        <h1 id="contato">Contato</h1>
        <ul>
          <li>✉️ suportefake&#64;gmail.com</li>
          <li><a href="https://www.instagram.com/">Instagram</a></li>
          <li>📞 (81) 94002-8922 </li>
        </ul>
      </div>
    </section>

  </main>
</ion-content>
